body{
    background-color: chocolate;
}

header, nav, main{
    background-color: #ffffff;
    min-height: 10vh;
    margin: 2vh auto;
}

@media(min-width: 576px){
    
}

@media(min-width: 768px){
    
}

@media(min-width: 992px){
    
}

@media(min-width: 1200px){

}